<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:srop="http://www.srop.com/schema/srop"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.srop.com/schema/srop http://www.srop.com/schema/srop/srop.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描注解Bean -->
    <context:component-scan base-package="com.qimenapi">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 启动Srop框架 -->
    <srop:router
        id="router"
        appsecret-manager="sampleAppSecretManager"
        invoke-manager="sampleInvokeManager"
        service-timeout-seconds="30"
    />

    <bean id="sampleAppSecretManager" class="com.qimenapi.SampleAppSecretManager" />

    <bean id="sampleInvokeManager" class="com.qimenapi.SampleInvokeManager"/>

    <!-- 配置线程池 -->
    <bean id ="taskExecutor"  class ="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean" >
        <!-- 线程池维护线程的最少数量 -->
        <property name ="corePoolSize" value ="1" />
        <!-- 线程池维护线程所允许的空闲时间 -->
       <property name ="keepAliveSeconds" value ="30000" />
        <!-- 线程池维护线程的最大数量 -->
        <property name ="maxPoolSize" value ="50" />
        <!-- 线程池所使用的缓冲队列 -->
        <property name ="queueCapacity" value ="500" />
    </bean>

    <!--注册监听器，可配置多具-->
    <srop:listeners>
        <bean class="com.qimenapi.sropListener.WriteLogAfterDoServiceEventListener"/>
    </srop:listeners>

    <!--自定义method,appKey等这些系统级参数的参数名-->
    <srop:sysparams
            appkey-alias="appKey"
            sessionid-alias="accessToken"
            method-alias="method"
            version-alias="v"
            format-alias="format"
            sign-alias="sign"/>


    <import resource="spring-config.xml"/>
</beans>